.otpdiv{
               margin: 0;
               padding: 0;
               height: 100vh;
               background: #000000; /* fallback for old browsers */
               background: -webkit-linear-gradient(
                 to right,
                 #434343,
                 #000000
               ); /* Chrome 10-25, Safari 5.1-6 */
               background: linear-gradient(
                 to right,
                 #434343,
                 #000000
               ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.otppp{
   height: 300px;
   width: 500px;   
   background-color: rgb(255, 255, 255);  
   display: flex;   
   align-items: center;
   justify-content: center;  
   flex-direction: column; 
   border-radius: 20px;
   gap: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.confirm{
               width: 150px;
  height: 40px;
 
  font-family: arimo;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  background: #616161; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9bc5c3,
    #616161
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
